<%- include('header') -%>

    <link rel="stylesheet" href="/css/Login.css">

    
    <form action="/login" method="post" class="form">
        <h1>Admin Login Form</h1>
        <input type="text" placeholder="username" name="username" class="input-username">
        <input type="password" placeholder="password" name="password" class="input-password">
        <button type="submit" class="btn-submit">Login</button>
    </form>

<%- include('footer') -%>